#root {
  margin: 0 auto;
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
  font-size: 80px;
  padding: 5px;
}
h3{
  padding-left: 20px;
  margin-bottom: 5px;
}

.project-list{
  background-color: rgb(69, 90, 91);
  border-radius: 10px;
  margin-top: 40px;
}

.flex-container {
  display: flex;
  justify-content: space-between; /* Space out items */
  align-items: flex-start; /* Align items to the start */
}

.outer{
  padding-left:10px;
  padding-right:10px;
}

.text {
  /* Additional styling for text */
  width: 70%; /* Adjust as needed */
}

.links {
  /* Additional styling for links */
  padding-right: 10px;

  padding-left: 10px;
}


.button {
  /* background: "none";
  border: "none"; */
  /* color: "inherit"; */
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 40px;
  font-family: JetBrains Mono;
  /* background-color: transparent;
  border: none; */
  width: auto;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.wrapper{
  /* width: 50vmin; */
  /* height: 100vmax; */
}

.button:hover {
  background-color: #191e22;
}
.b{
  
  /* background-color: #2d322d; */
}

.b1{
  /* background-color: #343934 ; */
}
.b2{
  /* background-color: #3b403b; */
}
.b3{
  /* background-color: #414641 ; */
}

.mainparallax{
}

.content{
  /* padding-top: 30px; */
  font-size: 20px;
}

.aboutme{
  font-size: 20px;
  padding-bottom: 10px;
}

img{
  width: 800px;
  height: auto;
  padding: 20px;
  align-self: center;
  border-radius: 30px; 
}

@media screen and (max-width: 800px) {
  .flex-container {
    flex-direction: column; /* Change to column layout on small screens */
    align-items: stretch; /* Stretch items to fill container width */
  }
  img{
    width: 90vw;
    height: auto;
    padding: 2px;
    align-self: center;
    border-radius: 10px; 
  }


  h1{
    font-size: 50px;
  }
  .text {
    width: 100%; /* Take up full width on small screens */
  }

  .links {
    margin: 10px; 
    padding-right: 10px;
    align-items: center;
    padding-left: 10px;
  }
}
